# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 485516099f4330bd335d0b15d237e988742d602394f09a3bc572303df77c1ac1ca6451b588971ce683bc604ba092a9b84c9d3bd243a073b7bba3d6ff1cd7d837

test:
  secret_key_base: 0778c8810a1dc9dfe985c9e67af72e18af411e0ab6e0cdad74f96fef1686e9259483c07ce38f1c8013ea45825ae8fce120a9b25f84e9c4968de0df7ce8941ece

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
