/*
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import 'font-awesome';
@import 'bootstrap';

.field_with_errors {
  display: inline;
  color: #e84141;
}

.t-navbar-button {
  color: red;
  opacity: 0.5;
  font-size: 1.4em;
  &:hover {
    color: red;
    opacity: 1;
  }
}

.alert {
  border-radius: 0;
}

body {
  padding-top: 65px;
}
